* {
  margin: 0px;
  padding: 0px;
}
.App {
  color: White;
  color:black;
  height: 100vh;
  width: 100hw;
 background-image: linear-gradient(rgb(223, 189, 251), rgb(196, 244, 247));

 background-color: rgb(176, 214, 249);
}
